/*  
body{
  background-color: black;
  color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/


.grid-container {
    display: grid;
    /* grid-template-columns: 70% 30%; */
    grid-template-areas: 
      'header header'
      'main main'
      'footer footer';
      /* justify-content: center; */
    grid-row-gap: 15px;
  }
  
  .header-container {
    grid-area: header;
    
  }
  .nav-bar{ 
    border: 1px solid black;
    /* display: flex; */
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .logo-center{
      /* display: block; 
      margin-left: auto;
      margin-right: auto;
      width: 26%; */
      display: flex;
      justify-content: center;
    }
    
    /* .navigation-bar { 
      border: 1px solid lightgray;
    height: 35px;
    background-color: white;
    color: #000000;
      display:flex;
      justify-content: space-around;
      align-items: center;
      padding: 0px 40px;
    }*/
    
    
    
    
    
    a{
      width: 120px;
      color: black;
      text-align: center;
    }

    
    .link-wrapper{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }


  
  .image-gallery { 
      grid-area:sidebar ;
    
      /* height: 500px; */
    }
    
    .image-gallery2{
      grid-area: image-gallery;

    }
    
    

  .footer-container {
    border: 1px solid black;
       grid-area: footer; 
      grid-row-gap: 15px;
      
}
.footer-container2{
display: flex;
  align-items:center ;
  justify-content:center ;
}
.footer-container3{
  display: flex;
  align-items:center ;
  justify-content:center ;
}
.main-container-home {
  margin-left: 25px;  
  margin-right: 25px;
    grid-area: main;
    display: grid;
   grid-template-columns: 70% 30%; 
    grid-template-areas:
    'aboutme image-gallery';
    grid-gap: 10px;
    justify-content: center;

}

  
  .main-container-about {
    margin-left: 25px;  
    margin-right: 25px;
      grid-area: main;
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-areas:
      'aboutme sidebar';
      grid-gap: 10px;

  }
  .section-container-home {
    border: 1px solid black;

        /* margin-left: 100px; */
    grid-area: aboutme;
      background-color: rgba(248, 167, 138, 0.932);  
     /* background-image: url(assets/background-floral.jpg);   */
      /* background-size: 100% auto;   */
   ;
     }
 
     .section-container :nth-child(1){
       font-size: 45px;
     }
     .section-container :nth-child(2){
      font-size: 75px;
    }
    .section-container :nth-child(3){
      font-size: 20px;
    }

    .section-container-about{
      grid-area: aboutme ;
    }
    

